* {
    padding: 0;
    margin: 0;
}

html {
    background-color: lightcyan;
    width: 100%;
}

.txt {
    position: absolute;
    bottom: 30px;
    width: 250px;
    /* 水平居中 */
    left: 0;
    right: 0;
    /* auto吸收剩余空间 */
    margin: auto;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* 首行缩进 */
    text-indent: 1em;
    font-size: 13px;
}

.item {
    width: 170px;
    height: 170px;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    background: red;
    border-radius: 5px;
    border-bottom-right-radius: 80px 20px;
    /* 盒子阴影 */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    position: absolute;
    left: 120px;
    top: 80px;
    /* 在文字处换行 */
    word-wrap: break-word;
    overflow: hidden;
}

.item .close {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.Btile {
    background-color: #f1f1f1;
    color: black;
    font-size: 15px;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    z-index: 9999;
}
